button {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    border: none;
    bottom: 10%;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
    font-family: FontAwesome;
    outline: none;
  }