@import "../../SCSS/variables.scss";

.Input {
  border: none;
  outline: none;
  box-shadow: $box-shadow;
  height: 24px;
  padding-left: 10px;
  border-radius: 10px;
  margin: 8px 0;
  width: 80%;
  font-family: $font-family;
}
