@import "../../SCSS/variables.scss";

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-row: 1 / span 1;
  grid-column: 1 / span 6;
  background-color: $black;

  .logo {
    margin-left: 160px;
    width: 43px;
    height: 40px;
  }
}
