header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 1 / span 1;
  grid-column: 1 / span 6;
  background-color: #1c1919;

  .logo {
    margin-left: 160px;
    width: 43px;
    height: 40px;
  }


}

.Btns {
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  
  .logout {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 500;
    font-family: "interstate", "san-serif";
    margin-right: 20px;
    cursor: pointer;
    span {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 1120px) {
  header {
    grid-column: 1 / span 3;
  }
  .Btns {
    grid-column: 2 / span 1;
    z-index: 1;
    width: 100%;
    justify-content: flex-end;
    margin-right: 40px;
  }
}

@media screen and (max-width: 800px) {
  .Btns {
    grid-column: 3 / span 1;
  }
}

@media screen and (max-width: 500px) {
  header {
    grid-row: 1 / span 2;

  }
  .Btns {
    grid-column: 2 / span 1;
    margin-left: 60px;
    justify-content: flex-end;
  }
}
